body, html {
    height: 100%;
    margin: 0;
    font-size: 16px;
    font-family: 'Lato', sans-serif;
    font-weight: 400;
    line-height: 1.8em;
    color: #666;
}

.p-img-1,
.p-img-2,
.p-img-3 {
    position: relative;
    opacity: 0.70;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.p-img-1 {
    background-image: url('./img/image1.jpg');
    min-height: 100%;
}

.p-img-2 {
    background-image: url('./img/image2.jpg');
    min-height: 400px;
}

.p-img-3 {
    background-image: url('./img/image3.jpg');
    min-height: 400px;
}

.section {
    text-align: center;
    padding: 50px 80px;
}

.section-clara {
    background-color: #f4f4f4;
    color: #666;
}

.section-escura {
    background-color: #282e34;
    color: #ddd;
}

.p-texto {
    position: absolute;
    top: 50%;
    width: 100%;
    text-align: center;
    color: #000;
    font-size: 27px;
    letter-spacing: 8px;
    text-transform: uppercase;
}

.p-texto .borda {
    background-color: #111;
    color: #fff;
    padding: 20px;
}

.p-texto .borda.transparente {
    background-color: transparent;
}